.reviewTextArea {
    background: #1c1e22;
    border: 0;
    color: white;
    font-size: 14px;
    outline: none;
    cursor: text;
    position: relative;
}

.textArContainer {
    position: relative;
}

.arrow {
    border-top: 12px solid transparent;
    border-bottom: 12px solid #1c1e22;
    border-left: 18px solid transparent;
    z-index: 100;
    width: 0;
    height: 0;
    left: -18px;
    top: 1px;
    content: "";
    display: block;
    position: absolute;
    bottom: 10%;

}


.reviewBtn {
    color: #7a8288;
    border:1px solid #52575c;
    background: transparent;
    outline: none;
    margin-left: 3px
}

.reviewBtn:hover {
    background: #3a3f44;
}
