.logo {
    width: 100px;
    height: 75px;
    border-radius: 50%;
    rotate: 340deg;
    margin-top: 10px;
    z-index: 2;
}

#freeGames {
    color: RGB(243 194 2)

}

#freeGames li a {
    color: RGB(243 194 2);
}

#mainNavContainer {
    position: sticky;
    top: 0;
    z-index: 10
}


#browserGames {
    color: RGB(0 170 158)
}

#browserGames li a {
    color: RGB(0 170 158)
}

#searchIcon {
    color: #272B30;

}

@media only screen and (max-width: 576px) {
    .logo {
        width: 80px;
        height: 70px;

    }
}








